* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* border: 1px solid black; */
    font-size: 18px;
}

body {

    height: 100%;
    min-height: fit-content;
    min-width: fit-content;
    background: rgb(192, 190, 190);

}



h2 {

    font-size: 1.1rem;
    margin: 0.7em;

}

h3 h4 h5 {

    display: inline-block;

}



.budget-app {

    position: relative;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    background: linear-gradient(rgb(0, 0, 0), rgb(73, 73, 73));

    margin: 8% auto;
    width: 1050px;
    min-height: 600px;

    color: aliceblue;
    border-radius: 10px;
    box-shadow: 5px 5px 20px gray;
  
}

.income-box {

    display: flex;
    align-items: center;

}


.income-box, p, label, select {

    padding: 0.5em 0.5em 0.5em 0.85em;
    margin-left: 1rem;
    font-size: 1.05rem;

}

#currency, #expenseType {

    padding: 0.25em;
    margin-left: unset;
    height: 1.8em;

}


#incomeInput {

    padding-left: 0.9em;
    border-radius: 25px;
    height: 2.5em;

}


#expense {

    padding-left: 0.85em;
    border-radius: 15px;
    height: 1.8em;
    max-width: 245px;

}

#amount {

    padding-left: 0.8em;
    border-radius: 15px;
    height: 1.8em;
    max-width: 100px;

}


    /* LIST EXPENSES CONTAINER */

.expenses-container {

    border-top: 2px solid rgba(244, 244, 245, 0.438);
    border-bottom: 2px solid rgba(244, 244, 245, 0.438);
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-top: 0.85em;
    padding-bottom: 0.85em;

}

.left-container {

    display: flex;
    flex-direction: column;

}

.left-container label {

    margin-left: unset;

}

.expense-input-container {

    display: flex;
    margin-right: 1.8em;
    margin-left: 1.8em;
    justify-content: space-between;
    align-items: center;

}


input, button {

    border-width: 0;

}


.button {

    width: 5rem;
    height: 2rem;
    border-radius: 20px;
    transition-duration: 250ms;

}

.button:hover {

   background: rgb(255, 228, 74);

}



.remaining-budget {

    display: flex;
    flex-direction: column;
    
    text-align: center;
    word-break: break-word;
    border-left: 2px solid rgba(244, 244, 245, 0.438);
    padding-bottom: 50%;

}


hr {

    width: 75%;
    height: 2px;
    margin: 0 auto;
    
}

        /*--- LIST ITEMS ---*/

.list-item {

    width: 280px;
    max-width: 2000px;

    /* overflow: hidden; */
    overflow: auto;

}


.amount-item {

    text-align: center;
    /* overflow: hidden; */
    overflow: auto;
    width: 180px;
    max-width: 2000px;
    
}

.list-type {
   
    text-align: center;
    /* overflow: hidden; */
    width: 220px;
    max-width: 2000px;
    overflow: auto;

}

.empty {
   
   max-width: 180px;
   border-left: 1px solid rgba(255, 255, 255, 0.3);

}


.list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
 
    margin: 2rem;
    height: 100%;
    max-height: 100%;
    
}



.list-container ul {
    list-style: none;
}

.list-container ul li {
    padding: 0.4em;
}



/* BUDGET AMOUNTS */


.remaining-budget-amounts {
    display:flex;
    align-items: center;
    justify-content: center;
}

.remaining-budget-amounts > h3 {
    font-size: 1.3rem;
    padding-top: 1.2em;
    padding-left: 0.5em;
    padding-right: 0.15em;
}
.remaining-budget-amounts > .currency-sign {
    font-size: 1.3rem;
    padding-top: 1.2em;
    padding-right: 0.5em;
}




/* TOTAL AMOUNTS */

.total {
    display: flex;
    justify-content: left;
    align-items: center;
}

.total-expense-amounts {
    display:flex;
    align-items: center;
    justify-content: center;
}

.total h2 {
    
    padding: 0 1.2em;
}

.total-expense-amounts h3 {
    margin: auto 0;
    font-size: 1.3rem;
    padding-right: 0.15em;
}

.total-expense-amounts > .currency-sign {
    font-size: 1.3rem;
    padding-right: 0.5em; 
}



/* COLOR DESIGN FOR LIST ITEMS */

.groceries {
    background: rgba(97, 250, 224, 0.555);
}

.bills {
    background: rgba(255, 163, 163, 0.836);
}

.luxury {
    background: rgba(255, 255, 167, 0.486);
}

.health {
    background: rgba(249, 186, 255, 0.404);
}

.other {
    background: rgba(255, 255, 255, 0.548);
}


/*  LIST OVERLAY */

/* .list-overlay {
    display: flex;
    flex-direction: row;
    background: rgba(253, 221, 221, 0.247);
    height: 100%;

} */

.hide {
    display: none;
}


.currency-sign {
    font-size: 0.8rem;
}

